<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182814081093-q8rp1s0fbgfg9vclpitb58il4gbbfi1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182814081093-q8rp1s0fbgfg9vclpitb58il4gbbfi1e</string>
	<key>API_KEY</key>
	<string>AIzaSyBR_RdubeqFiSWdR0_B2AMYKjifUZ1vywg</string>
	<key>GCM_SENDER_ID</key>
	<string>182814081093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.archneo.app</string>
	<key>PROJECT_ID</key>
	<string>getjob-ef46d</string>
	<key>STORAGE_BUCKET</key>
	<string>getjob-ef46d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:182814081093:ios:3ab1438faae02a8df4e32c</string>
</dict>
</plist>
